<body>
  <div class="top-hero-wrapper text-center">
    <div class="container top-hero-container">
      <h2 class="text-color">今日も1日お疲れ様です。</h2>
      <h2 class="text-color">不満愚痴怒りなんでも笑います。</h2>
      <h2 class="text-color">ご自由にお書きください</h2>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
        <div class="audio_wrap">
          <textarea name="name"></textarea>
          <div class="audio_block">
            <h3 class="audio_button">笑ってもらう</h3>
            <%= audio_tag("Waraigoe.mp3",id:"audio") %>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
$(function () {
  var audioBtn = $('.audio_button'),
      audioWrap = $('.audio_wrap'),
      audio = document.getElementById('audio');

  audioBtn.on('click', function () {
    if( audioWrap.hasClass('play') ) {
      audio.pause();
      audioWrap.removeClass('play');
    } else {
      audio.play();
      audioWrap.addClass('play');
    }
  });

  $(window).bind("focus",function (){
    if( audioWrap.hasClass('play') ) {
      audio.play();
    } else {
      audio.pause();
      audioWrap.removeClass('play');
    }
  }).bind("blur",function (){
    audio.pause();
  });

});
</script>
