h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: black;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

.btn-black {
  color: black;
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,100,0);



  &:hover {
    color: #fff;
  }
}
}
.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url("gahag-0112546959-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.topic-index-wrapper {
  padding-top: 70px;
  background-image: image-url("gatag-00007242.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-created-at-time{
      padding-right: 20px;
      text-align: right;
    }


    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}
  form-control {
    height: 45px;
  }

  .users-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: image-url('bg-top.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

    .users-new-container {
      padding-top: 220px;

      .form-group {
        margin-bottom: 20px;
      }
    }
  }

  .topic-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: image-url("KAZTDSCF6970_TP_V.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color: white;
  }
