h1, h2 {
  font-weight: 100;
}
body{
  background-image: image-url("umauma.jpg");
}
.text-white {
  color: #fff;
}
.text {
  color: rgba(0,0,0,1);
}

.btn-white {
  color: black;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
}
.btn-black {
  color: black;
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,100,0);
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

.top-hero-container {
  padding-top: 120px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 0px;
  }
}
.audio_button {
  margin-top:0px;
margin: 0 auto;
  width: 200px;
  z-index: 1;
  background-color: rgba(10,252,228,1);
  border-radius: 1.5em;
  font-size: 24px;
  padding: 15px;/* 角丸 */
  color: black;
}
textarea{
  border: 2px solid #0a0;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  background-color: snow;
  resize: none;
  width: 20em;             /* 横幅 */
  height: 120px;
  outline: 0;
  margin-top: 30px;
}

.audio_button:hover {
 	cursor:pointer;
  background-color: rgba(11,171,189,1)
}

.audio_block{
  padding-top:100px;
}

.topic-index-wrapper {
  padding-top: 70px;
  background-image: image-url("takibi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-created-at-time{
      padding-right: 20px;
      text-align: right;
    }


    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}
  form-control {
    height: 45px;
  }

  .users-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: image-url('bg-top.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

    .users-new-container {
      padding-top: 220px;

      .form-group {
        margin-bottom: 20px;
      }
    }
  }

  .topic-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: image-url("KAZTDSCF6970_TP_V.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color: white;
  }

  .alert {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

  .navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}
.users-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: image-url("takibi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
